.headerPrincipal .container{
    display:flex; /* esto  es parecido al display:inline-block para que quede uno al lado del otro*/
    align-items: center;  /* este es parecido al vertical-align: middle : para que quede centrado  */
    justify-content: space-between; /* esto nos crea el espacio entre los dos elementos para que el logo quede a la izquierda y el menu a la derecha*/
}

.headerPrincipal-nav{
    display: flex; /* esto hace que el menu como tal quede alineado horizontal cada elemento del menu*/
}

.rodapePrincipal-patrocinadores .container{
display:flex;
justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /* para que los elementos queden uno por debajo del otro*/ 
    height: 250px;
    flex-wrap: wrap; /* por cada 250px el va a rellenar a la columna siguiente */
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;

}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoSobre-video{
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-sobre-list{
    flex-grow: 2;
}


/* Responise part*/
@media (max-width: 768px){

.headerPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}

.headerPrincipal-nav{
    flex-direction: column;
}

.contenidoPrincipal-cursos {
flex-direction: column;
}

.contenidoPrincipal-cursos-link{
    width: 100%;
}

.rodapePrincipal-navMap-list{
    height: auto;
    flex-wrap: nowrap;
}

.rodapePrincipal-patrocinadores .container{
flex-direction: column;
}

.rodapePrincipal-contatoForm{
    width: 100%;
}

.rodapePrincipal-patrocinadores-list{
    align-items: center;
    width: 100%;
    margin: 0;
}

.rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
}

.headerPrincipal-nav-link-app{
    order: -1px;
}

.videoSobre .container{
    flex-direction: column;
}
}